.idea/
.vscode/
.md
/QUICK_START_MQTT.md
/PROJECT_STRUCTURE.md
/INSTALL_MOSQUITTO.md
/CHECK_MQTT.md
/WHICH_BIN_FILE_TO_USE.md
/HOW_TO_CREATE_FIRMWARE_URL.md
/OTA_UPDATE_GUIDE.md
/FIRMWARE_UPDATE_TEST_GUIDE.md
